<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[Angry]</key>
	<string>emoji_Angry</string>
	<key>[Awkward]</key>
	<string>emoji_Awkward</string>
	<key>[BahL]</key>
	<string>emoji_Bah</string>
	<key>[Bomb]</key>
	<string>emoji_Bomb</string>
	<key>[Boring]</key>
	<string>emoji_Boring</string>
	<key>[BrokenHeart]</key>
	<string>emoji_BrokenHeart</string>
	<key>[Broken]</key>
	<string>emoji_Broken</string>
	<key>[Bye]</key>
	<string>emoji_Bye</string>
	<key>[Cake]</key>
	<string>emoji_Cake</string>
	<key>[Cheers]</key>
	<string>emoji_Cheers</string>
	<key>[Chuckle]</key>
	<string>emoji_Chuckle</string>
	<key>[Coffee]</key>
	<string>emoji_Coffee</string>
	<key>[Concernet]</key>
	<string>emoji_Concernet</string>
	<key>[CoolGuy]</key>
	<string>emoji_CoolGuy</string>
	<key>[Cry]</key>
	<string>emoji_Cry</string>
	<key>[Dizzy]</key>
	<string>emoji_Dizzy</string>
	<key>[Doge]</key>
	<string>emoji_Doge</string>
	<key>[Drool]</key>
	<string>emoji_Drool</string>
	<key>[Drowsy]</key>
	<string>emoji_Drowsy</string>
	<key>[Duh]</key>
	<string>emoji_Duh</string>
	<key>[Facepalm]</key>
	<string>emoji_Facepalm</string>
	<key>[Flushed]</key>
	<string>emoji_Flushed</string>
	<key>[Frown]</key>
	<string>emoji_Frown</string>
	<key>[GiftF]</key>
	<string>emoji_Gift</string>
	<key>[GoForlt]</key>
	<string>emoji_GoForlt</string>
	<key>[Grin]</key>
	<string>emoji_Grin</string>
	<key>[Hammer]</key>
	<string>emoji_Hammer</string>
	<key>[Handclap]</key>
	<string>emoji_Handclap</string>
	<key>[Heart]</key>
	<string>emoji_Heart</string>
	<key>[Helpless]</key>
	<string>emoji_Helpless</string>
	<key>[Hug]</key>
	<string>emoji_Hug</string>
	<key>[Joyful]</key>
	<string>emoji_Joyful</string>
	<key>[Kiss]</key>
	<string>emoji_Kiss</string>
	<key>[Laugh]</key>
	<string>emoji_Laugh</string>
	<key>[LetDown]</key>
	<string>emoji_LetDown</string>
	<key>[Lips]</key>
	<string>emoji_Lips</string>
	<key>[Lol]</key>
	<string>emoji_Lol</string>
	<key>[LoveYou]</key>
	<string>emoji_LoveYou</string>
	<key>[Moon]</key>
	<string>emoji_Moon</string>
	<key>[NoProblem]</key>
	<string>emoji_NoProblem</string>
	<key>[OK]</key>
	<string>emoji_Ok</string>
	<key>[OMG]</key>
	<string>emoji_OMG</string>
	<key>[Onlooker]</key>
	<string>emoji_Onlooker</string>
	<key>[Panic]</key>
	<string>emoji_Panic</string>
	<key>[Party]</key>
	<string>emoji_Party</string>
	<key>[Peace]</key>
	<string>emoji_Peace</string>
	<key>[Poop]</key>
	<string>emoji_Poop</string>
	<key>[Puke]</key>
	<string>emoji_Puke</string>
	<key>[Rose]</key>
	<string>emoji_rose</string>
	<key>[Scold]</key>
	<string>emoji_scold</string>
	<key>[Shake]</key>
	<string>emoji_shake</string>
	<key>[Shhh]</key>
	<string>emoji_shhh</string>
	<key>[Shocked]</key>
	<string>emoji_shocked</string>
	<key>[Shrunken]</key>
	<string>emoji_shrunken</string>
	<key>[Shy]</key>
	<string>emoji_shy</string>
	<key>[Sigh]</key>
	<string>emoji_sigh</string>
	<key>[Silent]</key>
	<string>emoji_silent</string>
	<key>[Skull]</key>
	<string>emoji_skull</string>
	<key>[Sleep]</key>
	<string>emoji_sleep</string>
	<key>[Sly]</key>
	<string>emoji_sly</string>
	<key>[Smile]</key>
	<string>emoji_smile</string>
	<key>[Smirk]</key>
	<string>emoji_smirk</string>
	<key>[Smug]</key>
	<string>emoji_smug</string>
	<key>[Sob]</key>
	<string>emoji_sob</string>
	<key>[SpurtingBlood]</key>
	<string>emoji_spurtingBlood</string>
	<key>[Sun]</key>
	<string>emoji_sun</string>
	<key>[Surprise]</key>
	<string>emoji_surprise</string>
	<key>[Sweat]</key>
	<string>emoji_sweat</string>
	<key>[ThumbsDown]</key>
	<string>emoji_thumbsDown</string>
	<key>[ThumbsUp]</key>
	<string>emoji_thumbsUp</string>
	<key>[Toasted]</key>
	<string>emoji_toasted</string>
	<key>[Tongue]</key>
	<string>emoji_tongue</string>
	<key>[Trick]</key>
	<string>emoji_trick</string>
	<key>[Whimper]</key>
	<string>emoji_whimper</string>
	<key>[Wilt]</key>
	<string>emoji_wilt</string>
	<key>[Wipe]</key>
	<string>emoji_wipe</string>
	<key>[Worship]</key>
	<string>emoji_worship</string>
	<key>[Wow]</key>
	<string>emoji_wow</string>
	<key>[Wrath]</key>
	<string>emoji_wrath</string>
	<key>[Yawn]</key>
	<string>emoji_yawn</string>
	<key>[Yeah]</key>
	<string>emoji_yeah</string>
</dict>
</plist>
